* {
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 98vh;
}

div {
    display: flex;
    border: 1px solid black;
}

.main {
    height: 600px;
    width: 500px;
    flex-wrap: wrap;
    padding: 5px;
}

.main div {
    flex-basis: 94.7%;
    margin: 12px;
    padding: 0px;
    justify-content: start;
    align-items: center;
    font-size: 32px;
    padding-left: 20px;
}

button {
    flex-basis: 20%;
    margin: 12px;
    padding: 0px;
    font-size: 32px;
}
